.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* FAQ ê¸€ List */
.List {
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.list_tit {
  border-bottom: solid 1px #ababab;
  color : #ababab;
}

.list_grid {
  display: grid;
  grid-template-columns: 10% 75% 15%;
}

.list_grid_qna {
  display: grid;
  grid-template-columns: 10% 45% 10% 15% 10% 10%;
}

.list_data {
  line-height: 40px;
}

.acenter {
  text-align: center;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.View {
  padding: 80px 40px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 400px;
}

.date_div {
  text-align: right;
  font-size: 16px;
  color: #ababab;
  margin-bottom: 10px;
  padding-right: 10px;
}

.top_title #title_txt {
  border: none;
  padding-bottom: 30px;
}

.top_title {
  border-bottom: solid 1px #ababab;
  font-size: 24px;
  font-weight: bold;
}

.content {
  padding-top: 30px;
  font-size: 17px;
}

.comment {
  padding: 80px 40px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 200px;
  font-size: 20px;
}

.review-input {
  border-radius: 5px;
  width: 98%;
  height: 100px;
  padding: 10px;
}

.review-input:focus {
  outline-color: #033a7a;
}

.admin {
  padding: 20px 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: large;
  font-weight: bold;
}

.chat_list {
  margin: 50px 50px;
  padding: 20px 10px;
  width: 22%;
  float: left;
  height: 600px;
  border: solid 1px #ababab;
  border-radius: 3px;
}

.chat_detail {
  margin: 50px 50px;
  padding: 20px 10px;
  width: 60%;
  height: 600px;
  float: left;
  margin-left: 5px;
  border: solid 1px #ababab;
  border-radius: 3px;
}

.chat_comment {
  padding: 15px 10px;
  min-height: 440px;
  border-bottom: solid 1px #ababab;
}
.linktoDB {
  position: absolute;
  top: 150px;
  left: 450px;
}